@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

$bottom-margin: 24px;
$space-between-text-elem: 16px;
$call-to-action-color: #f15d51;
$dark-background: #00001a;
$padding: 1em;

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  svg {
    width: 30px;
  }

  img {
    max-width: 100%;
  }
  div.container {
    padding: 1em;
  }
  nav.navigation {
    div.container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  main.main {
    section.head {
      display: grid;
      grid-template-rows: max-content max-content;
      row-gap: 64px;
      aside {
        &.left-main-content {
          padding: $padding;
          img {
            margin-bottom: $bottom-margin;
          }

          div.bottom {
            h1,
            p {
              margin-bottom: $space-between-text-elem;
            }
            h1 {
              font-size: 40px;
            }

            a {
              display: inline-block;
              padding: 0.8em 1.5em;
              text-decoration: none;
              background: $call-to-action-color;
              color: #fff;
              font-size: 0.8em;
              border-radius: 5px;
            }
          }
        }
        &.right-aside-new {
          background: $dark-background;
        }
      }
    }
  }
}
